.env
.env.*
.venv
.venv/**
Pipfile.lock
__pycache__/
**/__pycache__/
clients/**/__pycache__
clients/**/__pycache__/**
*.pyc

logs/
/clients/response
clients/response/
clients/errors
clients/errors/
/agent-reference
agent-reference/

transform_test_outputs
transform_test_outputs/

ingestion/ingestion_output_samples
ingestion/ingestion_output_samples/
/logs/
/frontend-design