[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
psycopg2-binary = "*"
requests = "*"
dj-database-url = "*"
environs = "*"
pydantic = "*"
google-genai = "*"
pydantic-ai = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.13"
